.nav-link:hover {
    font-weight: bolder !important;
    color: #ff9100 !important;
}

footer {
    background-color: #ffa733;
    width: 100%;
}

.sosmed-icon {
    color: black;
}

.tag-new {
    padding: 10px;
    background-color: #FF9100;
    font-size: 25pt;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif
}

.title-dashboard-s1 {
    font-family: 'Abril Fatface', serif;
    font-size: 86pt;
    color: #fbc42f;
}

.content-dashboard-s1 {
    font-family: 700 22pt 'Quicksand', sans-serif;
}

.title-dashboard {
    font-family: 35pt 'Abril Fatface', serif;
}

.content-dashboard,
.content-peluang-usaha {
    font-family: 'Quicksand', sans-serif;
    font-size: 22pt;
}

.title-peluang-usaha {
    font: 50pt 'Abril Fatface', serif;
    color: #FF9100;
}

.sub-title-peluang-usaha {
    font: 35pt 'Abril Fatface', serif;
}

.section-business-process{
    background-color: #ff9e1e;
    padding: 77px 0 77px 0;
}
.card-body{
    height: 350px;
}

.horizontal-line-dashboard {
    height: 10px;
    width: 350px;
    background-color: #ff9e1e;
    border-radius: 5px;
}

.navbar-nav .nav-link.active-page {
    color: #FF9100;
}
