.nav-link:hover {
    font-weight: bolder !important;
    color: #ff9100 !important;
}

footer{
    background-color: #ffa733;
    width: 100%;
}
.sosmed-icon{
    color: black;
}
.tag-new{
    padding: 10px; 
    background-color: #FF9100; 
    font-size:25pt; 
    font-weight: bold; 
    font-family:'Times New Roman', Times, serif
}

.title-dashboard-s1 {
    font-family: 'Abril Fatface', serif;
    font-size: 86pt;
    color: #fbc42f;
}

.content-dashboard-s1 {
    font-family:'Quicksand', sans-serif;
    font-size: 22pt;
    font-weight: 700;

}

.title-dashboard {
    font-family: 'Abril Fatface', serif;
    font-size: 30pt;
}
.content-dashboard{
    font-family: 'Quicksand', sans-serif;
    font-size: 22pt;
}